@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111827; /* bg-gray-900 equivalent */
  color: #ffffff;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #111827; /* bg-gray-900 equivalent */
}
